@layout('layouts/app')

@section('content')
<h1 class="font-medium text-xl text-gray-900 leading-6">Tableau de bord</h1>

<div class="my-6 bg-white overflow-hidden shadow rounded-lg">
  <div class="px-4 py-5 sm:p-6  ">
    Bon retour, <span class="text-emerald-500 font-semibold">{{ auth.user.nom +' '+auth.user.prenom }} </span>!
  </div>
</div>
@endsection
