@layout('layouts/guest')

@section('content')


<main class=" bg-cover bg-center py-6 bg-slate-800 flex justify-center content-center h-screen">

  <div class="h-60 bg-emerald-400 p-6 mt-60 rounded-full animate-bounce">
    <img src="logo-sans-text.svg" class=" h-60 bg-slate-100 p-6 rounded-full animate-" alt="" srcset="">
  </div>


</main>
@endsection
