[type='checkbox']:checked {
  height: 3em !important;

  background-color: rgb(14, 231, 159) !important;
}

[type='checkbox']:checked::before {
  content: 'Oui → ';
  color: white;
  font-size: 16px;
  text-align: center;
}

[type='checkbox']::before {
  content: 'Non';
  color: rgb(91, 93, 117);
  font-size: 16px;
  text-align: center;
}

[type='checkbox'] {
  height: 3em !important;

}
