<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ env('APP_NAME') }}</title>

  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="bg-gray-100 text-gray-400 font-sans">

  @include('layouts/partials/header')
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-6">
    @!section('content')
  </div>

  @include('layouts/partials/footer')
</body>

</html>
